name: CI

on: [push, pull_request]

jobs:
  run-tests:
    name: Run test suite
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.3", "8.4", "8.5"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
      - name: Install dependencies
        run: composer install --prefer-dist
      - name: Tests
        run: php vendor/bin/phpunit